[Unit]

Description=My Script Service

After=multi-user.target

[Service]
Restart=always
RestartSec=5s
Type=idle

ExecStart=/home/pi/tgBotDoor/autostart.sh

[Install]

WantedBy=multi-user.target
